<section class="login pt-24">
    <div class="flex items-center justify-center">
        <div class="w-full max-w-md">
          <form action="/register" method= 'POST' class="bg-white shadow-lg rounded px-12 pt-6 pb-8 mb-4">
            <!-- @csrf -->
            <% if(messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
            <% } %>
            <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-normal mb-2"
                  for="username"
                >
                <strong>  Name</strong>
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="name"
                  type="text"
                  value = "<%= messages.name %>"
                  autofocus
                  placeholder="Enter your name"
                />
              </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-normal mb-2"
                for="useremail"
              >
                <strong>Email</strong>
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="email"
                type="email"
                value = "<%= messages.email %>"
                autofocus
                placeholder="Enter your email"
              />
            </div>
            <div class="mb-6">
              <label
                class="block text-gray-700 text-sm font-normal mb-2"
                for="password"
              >
                <strong>Password</strong>
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model="form.password"
                type="password"
                placeholder="Password"
                name="password"
                autocomplete="current-password"
              />
            </div>
            <div class="flex items-center justify-between">
              <button class="btn-primary px-4 py-2 rounded-full text-white inline-block shadow-lg" type="submit">Sign Up</button>
              <a
                class="inline-block align-baseline font-normal text-sm"
                href="/login"
              >
                Already have account?
              </a>
            </div>
          </form>
        </div>
      </div>
</section>